services:
  postgres:
    image: postgres:16
    container_name: postgresDiet
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: diet-service
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

